
<div class="pane" style="width:40%;max-width:720px;margin: 1em auto 1em auto; padding: 3em 0 3em 0;overflow:hidden;">
<!--Title Part -->
<div  style="text-align:center">
<h1 style="padding-top:50px;">
  {{title}}
</h1>

<!-- Replace this later -->
<i style="font-size:2000%;" class="fa fa-graduation-cap" aria-hidden="true"></i>

</div>

<div style="height:2em;">
<div *ngIf="wait" style="text-align:center;font-size:140%;">please wait...</div>
</div>
<!--Login Button -->
<div style="text-align:center;margin-top:2em;">
<div class="group" style="margin: 2em auto;max-width:300px;">
  <input #a type="text" class="md-input" required>
  <span class="highlight"></span>
  <span class="bar"></span>
  <label class="md-input-label">E-Mail Adresse hier eingeben</label>
</div>
  <div class="group" style="margin: 2em auto;max-width:300px;">
  <input #b type="password" class="md-input" required>
  <span class="highlight"></span>
  <span class="bar"></span>
  <label class="md-input-label">Passwort</label>
</div>
<button type="button" style="margin-top:2em;" (click)="getLoginUser(a.value, b.value)"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
</div>

</div>
