@import './font-awesome.css';

body {
  background: #e2e1e0;
  font-famliy:Roboto-Medium;
}
button,html,input,select,textarea {
 font-family:Roboto,Helvetica Neue,sans-serif
}
h1 {
    font-size: 300%;
}

h2 {
    font-size: 250%;
}
.title {
  color: #f0f0f0;
  text-shadow: 3px 3px rgba(0,0,0);
}
.title:hover {
    cursor:pointer;
}
nav {
  display:block;
  background-color: #fff;
  margin-bottom: 1.5em;

}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:block;
    background-color: #fff;
    text-indent:0;
}
nav ul li{
    display:inline-block;
    min-width: 3em;
    font-size: 130%;
    background-color:#fff;
    color:black;
    padding: 1rem 1rem;
    text-align: center;
}

nav ul li.active:hover{
    background-color: #f0f0f0;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    cursor:pointer;
}
.logoff {
  background: url(../img/exit-app.svg)no-repeat center center;
}
.home {
    background: url(../img/home.svg)no-repeat center center;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  padding: 0 3rem 3rem 0;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.pane {
  background: #fff;
  border-radius: 2px;
  margin: 0 1rem 1rem 0;
  position: relative;
  padding: 2%;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.pane:hover {
 box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


/* Material style */
button {
  border: none;
  cursor: pointer;
  color: white;
  padding: 1.2rem 3.5rem;
  border-radius: 2px;
  font-size: 130%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background: #2196F3;
}
button:hover {
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* Ripple magic */
button{
  position: relative;
  overflow: hidden;
}

button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}


/* form starting stylings ------------------------------- */
.group 			  {
  position:relative;
  margin-bottom:1em;
}
input 				{
  font-size:13px;
  padding:.3em .5em .1em .3em;
  display:block;
  min-width:18em;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label.input 				 {
  color:#999;
  font-size:12px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:5px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; min-width:18em; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:0;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.classes .selected {
  color: #607D8B;
  background-color: #CCCCCC;
  left: .1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .classes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 18em;

  }
  .classes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.8em;
    width: 18em;
    line-height: 1em;
    vertical-align: middle;
    border-radius: 0px 2px 2px 0px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  .classes li.selected:hover {
    background-color: #b3b3b3 !important;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .classes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .classes .text {
    position: relative;
    top: -3px;
  }
  .classes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #4285f4;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    margin-top: .1em;
    border-radius: 2px;
    width: 3em;
  }

  .button > paper-ripple {
       border-radius: 2px;
       overflow: hidden;
     }

     .button.narrow {
       width: 60px;
     }

     .button.grey {
       background-color: #eee;
     }

     .button.blue {
       background-color: #4285f4;
       color: #fff;
     }

     .button.green {
       background-color: #0f9d58;
       color: #fff;
     }

     .button.raised {
       transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
       transition-delay: 0.2s;
       box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
     }

     .button.raised:active {
       box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
       transition-delay: 0s;
     }
     .floatleft {
      float:left;
      }
      .floatright {
       float:right;
      }
      .clearfix {
        clear:both;
      }
      .headerpicture{
        background: url(../img/background.jpg)no-repeat center left;
        background-size: contain;
        background-size: 100% auto;
        width: 100%;
        background-position: left;
      }
